<app-navbar 
  *ngIf="!(router.url === '/' || router.url.includes('auth') || router.url.includes('login'))"
  (toggleSidebar)="sidebar.toggleSidebar()">
</app-navbar>

<div class="app-shell" [class.auth-layout]="router.url === '/' || router.url.includes('auth') || router.url.includes('login')">
 <app-sidebar
  #sidebar
  [style.display]="(router.url === '/' || router.url.includes('auth') || router.url.includes('login')) ? 'none' : ''">
</app-sidebar>

  <main class="app-content">
    <router-outlet></router-outlet>
  </main>
</div>